@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');

.register-form {
    width: 40%;
    margin: 150px auto;
}

.register-text{
    text-align: center;
    color: #EEEEEE;
    font-size: 60px;
    font-family: 'Vollkorn', serif;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    height: 40px;
    width: 23%;
    margin-top: 50px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    background-color: #222831;
    color: #EEEEEE;
}

.submit-button:hover {
    background-color: #00ADB5;
    color: #EEEEEE;
}

.succesful-registration-container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #EEEEEE;
}

.succesful-registration-text-container {
    width: 40%;
    border: 1px solid #53BF9D;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    background-color: #53BF9D;
    color: #292e35;
    font-weight: 500;
}

.invalid {
    border-color: red;
}

.invalid-data-text {
    color: red;
}
