@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.home-container { 
    height: 500px;
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-container {
    height: 60%;
    width: 80%;
    text-align: center;
    background-color: #222831;
} 

.welcome-title {
    color: #EEEEEE;
    font-size: 100px;
    font-family: 'Vollkorn', serif;
}

.welcome-logo {
    display: flex;
    justify-content: center;
}

.Icon-style {
    padding-right: 10px;
    color: #00ADB5;
    font-size: 40px;
}

.welcome-text-title {
    color: #00ADB5;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
}

.buttons-for-pages {
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.create-data-button {
    width: 33%;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: #272c32;
    color: #EEEEEE;
}

.create-data-button:hover{
    background-color: #00ADB5;
    color: #EEEEEE;
}

.existing-data-button {
    width: 33%;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: #222831;
    color: #EEEEEE;
}

.existing-data-button:hover{
    background-color: #00ADB5;
    color: #EEEEEE;
}



