@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');


.contacts-container {
    width: 1200px;
    margin: 150px auto;
    text-align: center;
}

.main-title-text {
    color: #EEEEEE;
    font-size: 60px;
    font-family: 'Vollkorn', serif;
}

.search-by-name-label-text {
    padding-right: 10px;
    color: #EEEEEE;
    font-size: 20px;
}

.form-control-sm {
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

.form-check {
    color: #EEEEEE;
}

.filter-title {
    color: #EEEEEE;
}

.table {
    width: 100%;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

.edit-user-button {
    border: 2px #EEEEEE solid;
    border-radius: 5px;
    background-color: #222831;
    color: #EEEEEE;
}

.edit-user-button:hover {
    background-color: #00ADB5;
}

.delete-user-button {
    border: 2px #EEEEEE solid;
    border-radius: 5px;
    background-color: #222831;
    color: #EEEEEE;
}

.delete-user-button:hover {
    background-color: #00ADB5;
}


